# Cache files
modes/Image/__pycache__
modes/Audio/__pycache__
modes/Text/__pycache__
modes/Video/__pycache__

# Uploaded files
modes/Image/static/*
modes/Text/static/*
modes/Audio/static/*
modes/Video/static/*
!modes/Image/static/sample.jpg
!modes/Text/static
!modes/Audio/static
!modes/Video/static

# env
CNS

# others
.vscode
modes/Video/ffmpeg
project_review/encoded_images/*.png
certificates/