certifi==2020.11.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
crayons==0.4.0
Cython==0.29.23
Flask==2.0.3
gensim==4.1.2
idna==3.3
install==1.3.5
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.1
Naked==0.1.31
numpy==1.22.3
opencv-python==4.5.5.64
piexif==1.1.3
Pillow==9.0.1
pycryptodome==3.14.1
pylibscrypt==2.0.0
PyYAML==6.0
requests==2.27.1
scipy==1.8.0
scrypt==0.8.20
shellescape==3.8.1
smart-open==5.2.1
stegano==0.10.2
stepic==0.5.0
urllib3==1.26.9
voluptuous==0.12.2
Wave==0.0.2
wcwidth==0.2.5
Werkzeug==2.0.3
wincertstore==0.2