{% extends 'audio.html' %}
{% block title %} STEGA | Audio-Decode {% endblock %} 
{% block content %}

<div class="jumbotron jumbotron-fluid mx-5 my-5 rounded-lg">
    <div class="container">
        <h1 class="display-4 text-monospace">Decode</h1>
        <hr>
        <!--Form start-->
        <form action="/audio/decode-result" method="POST" enctype = "multipart/form-data">
            <div class="form-group">
                <label for="exampleFormControlFile1">🎵 Choose your encrypted Audio file:</label>
                <input type="file" name="audio" accept="audio/*" class="form-control-file" id="exampleFormControlFile1" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <!--Form end-->
    </div>
</div>
{% endblock %}
